<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UICollectionViewTestios7.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E634E7B91DBE024C00DE5022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E634E7D21DBE024C00DE5022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E634E7DD1DBE024C00DE5022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
